* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #23232e;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .logo-img{
    width: 45%;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 20vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 100px;
    font-size: 25px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .banner{
    width: 100%;
  }

  section > h1{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
  }

  .box01{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }

  .box01 > p{
    padding: 10px;
  }

  .box02{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #353545;
  }

  .servicos{
    display: inline-block;
    text-align: center;
    padding: 40px;
  }

  .img-servicos{
    width: 100%;
  }

  .desc-servicos{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0px 10px 0px;
  }

form{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
}

form > legend{
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

label{
  display: block;
  padding: 10px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 25px;
}

input{
  display: block;
  padding: 5px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 25px;
  width: 50%;
  margin-bottom: 30px;
}

textarea{
  display: block;
  padding: 5px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 70%;
  height: 150px;
}

.enviar{
  width: 30%;
  margin: 30px 0px 0px 0px;
  border: 0px;
  border-radius: 10px;
  padding: 15px;
  background-color: #23232e;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

footer{
  background-color: #23232e;
  text-align: center;
}

footer > img{
  width: 10%;
}

footer > p{
  padding: 10px;
  color: #fff;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 400px){
  .banner{
    height: 200px;
  }
  
  section > h1{
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  
  .box01{
    width: 90%;
    text-align: justify;
  }

  .box02{
    width: 95%;
  }

  .img-servicos{
    width: 100%;
  }
  
  form{
    width: 82%;
  }

  input{
    width: 80%;
  }

  textarea{
    width: 80%
  }

  .enviar{
    width: 100%;
  }

  footer > img{
    width: 50%;
  }

  

  
}

