@font-face {
    font-family: "Fast";
    src: url("../fonte/Fastup-Bold.ttf") format("opentype");
}

header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: -6px 4px 20px black;
}

.logo{
    width: 13%;
}

.navegacao{
    display: inline;
}

a > li{
    display: inline-block;
    margin: 0px 50px 10px 50px;
    padding: 13px;
    font-size: 35px;
    font-family: "Fast";
    color: aliceblue;
}

a > li:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}


    
