@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 25px;
}

/*Tag Header*/
header {
  background-color: #23232E;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a{
  text-decoration: none;
}

.logo h1{
  color: #fff;
  font-size: 25px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 40px; 
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
  transition: 0.3s;
}

.nav-link:hover{
  background-color: #fff;
  color: #000000;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }
  .nav-item {
      display: none;
  }
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  .open {
      display: block;
  }
}

  .banner{
    width: 100%;
  }

  /* Tag Main*/
  section > h1{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
  }

  .box01{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }

  .box01 > p{
    padding: 10px;
  }

  .box02{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #353545;
  }

  .servicos{
    display: inline-block;
    text-align: center;
    padding: 40px;
  }

  .img-servicos{
    width: 100%;
    border-radius: 5%;
    box-shadow: 7px -12px 13px black;
  }

  .desc-servicos{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0px 10px 0px;
  }

form{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
}

form > legend{
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

label{
  display: block;
  padding: 10px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 25px;
}

input{
  display: block;
  padding: 5px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 25px;
  width: 90%;
  margin-bottom: 30px;
}

textarea{
  display: block;
  padding: 5px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 90%;
  height: 150px;
}

.enviar{
  width: 30%;
  margin: 30px 0px 0px 0px;
  border: 0px;
  border-radius: 10px;
  padding: 15px;
  background-color: #23232e;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

footer{
  background-color: #23232e;
  text-align: center;
}

footer > img{
  width: 10%;
}

footer > p{
  padding: 10px;
  color: #fff;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 400px){
  .banner{
    height: 200px;
    width: 100%;
  }
  
  section > h1{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
  }
  
  .box01{
    width: 90%;
    text-align: justify;
  }

  .box01 > p{
    font-size: 20px;
  }

  .box02{
    width: 95%;
  }

  .img-servicos{
    width: 100%;
  }

  .desc-servicos{
    font-size: 20px;
  }
  
  form{
    width: 80%;
    margin-top: 40px;
  }

  form > legend{
    font-size: 25px;
  }

  label{
    font-size: 20px;
  }

  input{
    width: 80%;
    font-size: 20px;
  }

  textarea{
    font-size: 20px;
    width: 80%
  }

  .enviar{
    width: 100%;
  }

  footer > img{
    width: 50%;
  }

  

  
}

